global
        ulimit-n 51200

defaults
        mode    tcp
        option  dontlognull
        timeout connect 1000
        timeout client 15000
        timeout server 15000

frontend sgp
        bind *:$HP_LPORT
        default_backend sgp-out


backend sgp-out
        server server1 $HP_SERVER_ADDR:$HP_PORT maxconn 20480
